@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
    display: block;
    font-family: 'ChosunGu';
}

img {
    width: 100%;
}

/* 모바일 버전(1023px 이하) */
.wrap {
    width: 100%;
}

header {
    width: 100%;
    height: 70px;

    /* section1과 겹침 */
    position: absolute;
    z-index: 50;
    /* 숫자높을수록 위로*/
    background-color: #fff;
    top: 0;
    left: 0;
}

header .center_box {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* 수직 정렬 */
    align-items: center;
    padding: 5vw;
}

header .logo {
    width: 29vw;
    height: 7vw;
    margin-left: 3vw;
}

header .logo a {
    height: 100%;
    /* 들여쓰기 */
    text-indent: -9999px;
    background-image: url(../img/logo_peripera.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .pc_top_menu {
    display: none;
    /*추가 코드*/
    margin-right: 2vw;
}

/*추가 코드*/
header .pc_top_menu ul li a span img {
    width: 24px;
}

header .menu {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #FBEEF0;
    position: absolute;
    z-index: 100;
    top: 0;
    right: -100vw;
}

header .menu_icon {
    width: 8vw;
}

.s1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mobile_visual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .menu .menu_in {
    width: 100%;
    height: 160px;
    background-color: #FF6699;
    padding: 7vw;
}

header .menu .menu_in .search_lang,
header .menu .menu_in .mo_top_menu ul {
    width: 70vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header .menu .menu_in .search_lang .search {
    background-color: rgba(0, 0, 0, 0.1);
    width: 45vw;
    padding: 0vw 3vw;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header .menu .menu_in .search_lang .search input {
    border: none;
    background-color: transparent;
    width: 80%;
    padding: 2vw;
    font-size: 16px;
}

header .menu .menu_in .search_lang .search a {
    width: 20px;
}

header .menu .menu_in .search_lang .search a .search_icon {
    width: 100%;
    stroke: #fff;
}

header .menu .menu_in .language {
    background-color: #fff;
    border-radius: 30px;
    width: 21vw;
    padding: 1vw 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu .menu_in .language select {
    background-color: transparent;
    border: none;
    width: 100%;
    color: #212121;
}

header .menu .menu_in .language select option {
    color: #212121;
}

header .menu .menu_in .mo_top_menu {
    margin-top: 6vw;
}

header .menu .menu_in .mo_top_menu a {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
}

header .menu .menu_in .mo_top_menu a span {
    display: block;
    width: 24px;
    margin-right: 3vw;
    /* border: 1px solid #fff; */
}

header .menu .menu_in .mo_top_menu a span .cart_icon {
    stroke: #fff;
}

header .menu .menu_in .mo_top_menu a span .alarm_icon {
    fill: #fff;
}


header .menu .menu_in .mo_top_menu a span .user_icon {
    fill: #fff;

}

header .menu .menu_in .close {
    /* 위치 이동은 close로 크기조절은 아이콘에서 */
    display: block;
    position: absolute;
    width: 8vw;
    height: 8vw;
    top: 5vw;
    right: 5vw;
}

header .menu .menu_in .close .close_icon {
    fill: #fff;
    width: 100%;
    height: 100%;
}

header .menu nav {
    margin-top: 4vw;
    width: 100%;
    padding: 10vw;
}

/* 주메뉴 */
header .menu nav ul li a {
    padding: 3vw 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header .menu nav ul li a .plus_icon {
    width: 14px;
    height: 14px;
    position: relative;
}

header .menu nav ul li a .plus_icon span {
    width: 100%;
    height: 2px;
    background-color: #212121;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
}

header .menu nav ul li a .plus_icon .col_line {
    left: 0;
    transform: rotateZ(90deg);
}

header .menu nav ul>li>a.active {
    color: #FF6699;
}

header .menu nav ul>li>a.active .plus_icon .row_line {
    background-color: #FF6699;
}

header .menu nav ul>li>a.active .plus_icon .col_line {
    display: none;
}

header .menu nav .sub {
    display: none;
}

header .menu nav .sub li a {
    font-size: 16px;
    font-weight: normal;
}

header .right_area .sub_bg {
    display: none;
}

section {
    position: relative;
    /* h1 에 마진탑 썻더니 마진탑상쇄현상일어나 부모에게 히든 줘야함*/
    overflow: hidden;
}

/* 모바일 버전의 첫번째 섹션의 높이 조절 */
section.s1 {
    height: 80vh;
}


/* 모바일 본문*/
section .movie {
    display: none;
}

section .main_icon {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 20%);
}

section .main_icon ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section .main_icon ul li {
    width: 46%;
    margin-top: 32px;
}


section .main_icon ul li a i {
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
    padding: 22px;
    /* background-color: #FFF; */
}

/* 메인 아이콘 글씨  */
section .main_icon ul li a p {
    color: #efefef;
    text-align: center;
    margin-top: 6px;
    font-size: 16px;
    margin-left: 0;
}

/* 마지막 아이콘의 배경색 지정*/
section .main_icon ul li:last-child a i {
    background-color: rgba(252, 174, 174, 0.7);
}


/* 두번째 section */
section h1 {
    font-size: 1.6rem;
    margin-top: 10vw;
    margin-left: 8vw;
    margin-bottom: 2vw;
}

section h2 {
    font-size: 1.1rem;
    margin-bottom: 0vw;
}

section hr {
    display: none;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

section p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    margin-left: 8vw;
}

section .hover {
    display: none;
}

.s2 {
    height: 65vh;
    background-color: #FFF0F5;
}

.s2 .banner1 {
    width: 100%;
    margin-top: 5vw;
}

.s2 .banner1 ul {
    display: flex;
    /* 열 기준 줄바꿈 허용 안함 */
    flex-flow: column nowrap;
}

.s2 .banner1 ul li {
    width: 100%;
    height: 123px;
    padding: 1.5vw 8vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.s2 .banner1 ul li:first-child {
    background-image: url(../img/slide3.jpg);
}

.s2 .banner1 ul li:nth-child(2) {
    background-image: url(../img/slide6.jpg);
}


.s2 .banner1 ul li:last-child {
    background-image: url(../img/banner7.jpg);
}

.s2 .banner1 ul li .icon_txt {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 4vw 0vw;
    position: absolute;
    justify-content: center;
    line-height: 40px;
}

/* 아이콘 */
.s2 .banner1 ul li .icon_txt .icon_bg {
    width: 10vw;
    padding: 2vw;
    height: 10vw;
    border-radius: 50%;
    /* 아이콘 가운데로 정렬*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 .banner1 ul li:first-child .icon_txt .icon_bg {
    /* display: none; */
    background-color: #91C788;
    margin-bottom: 2px;

}

.s2 .banner1 ul li:nth-child(2) .icon_txt .icon_bg {
    /* display: none; */
    background-color: #FFACC7;
}

.s2 .banner1 ul li:last-child .icon_txt .icon_bg {
    /* display: none; */
    background-color: #F2789F;
}

.s2 .banner1 ul li .icon_txt .txt {
    margin-left: 3vw;
}

.s2 .banner1 ul li .icon_txt .txt p {
    margin-left: 0;
}

.s2 .banner1 ul li .hover {
    top: 0;
    left: 0;
}

/* 세번째 section */
.s3 {
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.s3 .banner2 {
    padding: 5vw;
    background-color: rgba(255, 255, 255, 0.1);
}

.s3 .banner2 ul {
    display: flex;
    /* 행기준 줄바꿈 허용 */
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.s3 .banner2 ul li {
    width: 38%;
    text-align: center;
    margin-bottom: 5vw;
}

.s3 .banner2 ul li img {
    width: 70%;
    margin-bottom: 3vw;
}

.s3 .banner2 ul li h2 {
    font-size: 0.9rem;
}

.s3 .banner2 ul li a {
    color: #333;
    text-align: center;
}

.s3 .banner2 ul li hr {
    display: block;
    border: 1px 0 0 0;
}

.s3 .banner2 ul li p {
    margin: 0;
    font-weight: 0.7rem;
    text-align: center;
    font-weight: bold;
}


/* 더보기(view all) 아이콘 */
.view {
    width: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 65vw;
}

.view p {
    cursor: pointer;
    line-height: 20px;
    color: gray;
}

.view a img {
    width: 7px;
}

/* review */
.s4 .banner3 {
    width: 100%;
    padding: 0.5vw;
    margin-bottom: 5vw;

}

.s4 .banner3 ul {
    display: flex;
    /* 행기준 줄바꿈 허용 */
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
}

.s4 .banner3 ul li {
    width: 47%;
    margin-top: 5vw;
}

.s4 .banner3 ul li .photo {
    width: 100%;
    height: 25vw;
    border: 1px solid #ccc;
    overflow: hidden;
}

.s4 .banner3 ul li span {
    display: block;
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 3vw;
    letter-spacing: -1px;
}

.s4 .banner3 ul li .review {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.s4 .banner3 ul li p {
    margin: 0;
}


/* section5 */
.s5 {
    background-color: #F599B7;
    color: #fff;

}

.s5>p {
    padding-bottom: 6vw;
}


.s5 .banner4 {
    width: 100%;
    margin-top: 5vw;
}

.s5 .banner4 ul {
    display: flex;
    flex-flow: row wrap;
}

.s5 .banner4 ul li {
    width: 50vw;
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* 자식에 absolate */
    position: relative;
}

.s5 .banner4 ul li:first-child {
    background-image: url(../img/intro1.jpg);
}


.s5 .banner4 ul li:nth-child(2) {
    background-image: url(../img/intro2.jpg);
}


.s5 .banner4 ul li:nth-child(3) {
    background-image: url(../img/intro3.jpg);
}

.s5 .banner4 ul li:last-child {
    background-image: url(../img/intro4.jpg);
}

.s5 .banner4 ul li .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.s5 .banner4 ul li .s5_hover1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.s5 .banner4 ul li .s5_hover2 {
    background-color: rgba(0, 0, 0, 0.1);
}

.s5 .banner4 ul li .s5_hover3 {
    background-color: rgba(0, 0, 0, 0.1);
}

.s5 .banner4 ul li .s5_hover4 {
    background-color: rgba(0, 0, 0, 0.1);
}

.s5 .banner4 ul li .txt {
    position: absolute;
    width: 100%;
    height: 50vw;
    display: flex;
    /* 열기준 줄바꿈 허용 안함 */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* text-shadow: 0 0 3px #333; */
    background-color: rgba(0, 0, 0, 0.2);
}

.s5 .banner4 ul li .txt p {
    margin-left: 0;
    text-align: center;
}

.s5 .banner4 ul li .small_deco {
    position: absolute;
    width: 10vw;
    height: 10vw;
}

.s5 .banner4 ul li .s5_deco1 {
    right: 0;
    bottom: 0;
    background-color: rgba(252, 200, 209, 0.5);
}

.s5 .banner4 ul li .s5_deco2 {
    left: 0;
    bottom: 0;
    background-color: rgba(254, 242, 244, 0.6);
}

.s5 .banner4 ul li .s5_deco3 {
    right: 0;
    top: 0;
    background-color: rgba(209, 77, 114, 0.4);
}

.s5 .banner4 ul li .s5_deco4 {
    left: 0;
    top: 0;
    background-color: rgba(255, 171, 171, 0.7);
}

footer {
    width: 100%;
    padding: 10vw 5vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer .footer_logo {
    width: 40%;
}

footer .info {
    margin-top: 5vw;
}

footer .info ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


footer .info ul li a {
    font-size: 1rem;
    padding: 5px 10px;
    font-size: 0.9rem;
}

footer .info ul li:first-child a {
    color: #FF6699;
    font-weight: bold;
}

footer address {
    font-style: normal;
    margin-top: 3vw;
    line-height: 1.6rem;
    text-align: center;
}

footer p {
    font-size: 0.8rem;
    margin-top: 3vw;
}

footer .sns_family {
    margin-top: 7vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer .sns_family .sns ul {
    display: flex;
}

footer .sns_family .sns ul li {
    margin: 0 0.7vw;
}

footer .sns_family .family {
    margin-top: 5vw;
    width: 100%;
    height: 44px;
    position: relative;
    border: 1px solid #333;
}

footer .sns_family .family .family_title {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 55;
}

footer .sns_family .family .family_title a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    font-size: 1rem;
}

/* 
footer .sns_family .family .family_title a i {
    display: block;
    width: 16px;
} */

footer .sns_family .family .family_title a span {
    display: block;
    border: 7px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;

}

footer .sns_family .family .family_list {
    width: 100%;
    position: absolute;
    bottom: 39px;
    display: none;
}

footer .sns_family .family .family_list a {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #FF6699;
    color: #fff;
    border-top: 1px solid #efefef;
}


/* tablet 버전(1024px 이상 ~ 1399px 이하) */
@media screen and (min-width:1024px) {
    header {
        padding: 1vw;
        height: 90px;
    }

    header .center_box {
        padding: 1vw;
    }

    header .logo {
        width: 18vw;
        height: 5vw;
    }

    header .logo a {
        background-image: url(../img/logo.png);
    }

    header .menu_icon {
        /* 부모객체에 flex기능을 적용하면 자식객체의 순서를 order로 변경가능 */
        order: 2;
        width: 4vw;
        height: 4vw;
    }

    header .right_area {
        width: 38vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .pc_top_menu {
        order: 1;
        display: block;
    }

    header .pc_top_menu ul {
        display: flex;
        justify-content: flex-end;
        width: 28vw;
    }


    header .pc_top_menu ul li {
        /* width: 3vw; */
        margin-right: 15px;
    }

    header .pc_top_menu ul li a {
        display: flex;
        white-space: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header .pc_top_menu ul li a span {
        display: block;
        width: 2vw;
        margin-right: .5vw;
    }

    header .menu .menu_in {
        padding: 4vw;
        height: 210px;
    }

    header .menu .menu_in .search_lang .search {
        padding: 0.7vw 3vw;
    }

    header .menu .menu_in .search_lang .search input {
        padding: 1vw;
        width: 85%;
    }

    header .menu .menu_in .search_lang .search a {
        width: 30px;
        height: 30px;

    }

    header .menu .menu_in .language {
        padding: 0.7vw 3vw;
        width: 25%;
    }

    header .menu .menu_in .language select {
        font-size: 1.4rem;
    }

    header .menu .menu_in .mo_top_menu {
        margin-top: 3vw;
    }

    header .menu .menu_in .mo_top_menu a {
        font-size: 1.4rem;
    }

    header .menu .menu_in .mo_top_menu a span {
        width: 4vw;
    }

    header .menu .close {
        width: 7vw;
        top: 0vw;
        right: 0vw;
    }

    header .menu nav {
        margin-top: 2vw;
        padding: 4vw;
    }

    header .menu nav ul li a {
        padding: 3vw;
    }

    header .menu nav .sub li a {
        padding: 2.4vw 3vw;
    }

    /*     background-color: rgba(0, 0, 0, 0.2);
 버전 section  */
    section.s1 {
        height: 65vh;
    }

    section .movie {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    section .movie iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 130%;
    }

    section .main_icon {
        width: 50%;
        transform: translate(-50%, 70%);

    }

    section .main_icon ul {
        flex-flow: row nowrap;
    }

    section .main_icon ul li {
        width: 22%;
    }

    section .main_icon ul li p {
        margin-left: 0;
        white-space: nowrap;
    }

    section .main_icon ul li a i {
        padding: 3vw;
        /* 크기. 글씨 수정 */
        /* width: 15vw; */
    }

    /* tablet버전 section2 */

    .s2 {
        height: 100vh;
    }

    .s2 .banner1 {
        margin-top: 3vw;
    }

    section h1 {
        font-size: 2rem;
        margin-left: 5vw;
    }

    section p {
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-left: 5vw;
    }

    .s2 .banner1 ul {
        flex-flow: row wrap;
        /* padding: 0 8vw; */
        margin: 0 5vw;
    }

    .s2 .banner1 ul li {
        width: 33.3%;
        height: 500px;
        /* padding: 5vw 0; */
    }

    .s2 .banner1 ul li .icon_txt {
        display: flex;
        width: 90%;
        flex-flow: column nowrap;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .s2 .banner1 ul li .icon_txt .txt {
        margin-left: 0;
        text-align: center;
        margin-top: 3vw;
    }

    .s2 .banner1 ul li .icon_txt .txt .icon_bg {
        width: 12vw;
        height: 12vw;
    }

    .s2 .banner1 ul li .icon_txt .txt h2 {
        font-size: 1.4rem;
    }

    .s2 .banner1 ul li .icon_txt .txt hr {
        display: block;
        color: #000;
    }


    .s2 .banner1 ul li .icon_txt .txt p {
        font-size: 1rem;
    }


    .s2 .banner1 ul li:first-child {
        background-image: url(../img/s1.jpg);
    }

    .s2 .banner1 ul li:nth-child(2) {
        background-image: url(../img/s2.png);
    }


    .s2 .banner1 ul li:last-child {
        background-image: url(../img/s3.jpg);
    }

    /* review */

    .view p {
        line-height: 16px;
    }

    .view a img {
        width: 10px;
    }

    .view {
        width: 15%;
        margin-left: 80vw;
    }

    .s4 .banner3 {
        width: 100%;
        margin-bottom: 5vw;
    }

    .s3 .banner2 {
        padding: 8vw 5vw 3vw;
    }

    .s3 .banner2 ul {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .s3 .banner2 ul li {
        width: 22%;
    }

    .s4 .banner3 ul {
        margin-left: 5vw;
    }

    .s4 .banner3 {
        padding: 0 5vw;
        margin-top: 0;
    }

    .s4 .banner3 ul li .photo {
        height: 25vw;
    }

    .s4 .banner3 ul li span {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .s5>p {
        margin: 0 8vw;
    }


    .footer .info ul li a {
        font-size: 1.2rem;
    }

    .footer address {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    footer p {
        font-size: 1.1rem;
    }


    footer .footer_logo {
        width: 35%;
    }

}









/* pc 버전(1400px 이상) */
@media screen and (min-width:1400px) {
    header {
        height: 120px;
    }

    header .center_box {
        width: 75vw;
        /* 부모의 크기 맞춤(130px) */
        height: 100%;
        margin: 0 auto;
        padding: 1vw;
        /* /모바일에서는 줄바꿈 허용x, pc에서는 행기준, 줄바꿈 허용 */
        /* flex-flow: row wrap; */
    }

    header .logo {
        width: 8vw;
        height: 2vw;
    }

    header .logo a {
        background-image: url(../img/logo.png);
    }

    header .right_area {
        width: 77%;
        flex-flow: column nowrap;
        align-items: normal;
    }

    header .right_area .navi {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    header .menu_icon {
        display: none;
        order: 1;
    }

    header .pc_top_menu {
        order: 1;
        display: block;
        /* width: 14vw; */
    }

    header .pc_top_menu ul,
    header .pc_top_menu ul li a {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header .pc_top_menu ul li a span {
        display: block;
        width: 1.4vw;
        margin-right: 0.5vw;
    }

    header .pc_top_menu ul li a p {
        font-size: 13px;
        font-weight: bold;
        color: #666;
    }

    header .menu {
        order: 2;
        position: relative;
        right: 0;
        padding: 0;
        height: 40px;
        margin-top: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        /* (모바일에서의) 배경색 없애기 */
        background-color: transparent;

    }

    header .menu .menu_in {
        padding: 0;
        width: auto;
        height: auto;
        background-color: transparent;

        /* flex기능을 사용하면 자식 객체의 순서를 변경할 수 있음(부모에게 flex) */
        order: 2;
    }

    /* pc에서는 보이고, tablet과 모바일에서는 안보임 */
    header .menu .menu_in .mo_top_menu {
        display: none;
    }

    header .menu .menu_in .search_lang {
        width: 16vw;
        margin-bottom: 15px;
    }

    header .menu .menu_in .search_lang .search {
        background-color: transparent;
        width: 9vw;
        padding: 0;
    }

    header .menu .menu_in .search_lang .search input {
        padding: 0.5vw;
    }

    /* 입력란 클릭했을 때 테두리 색과 모서리 둥글게 */
    header .menu .menu_in .search_lang .search input:focus {
        border-radius: 4px;
        outline: 1px solid #ddd;
    }

    header .menu .menu_in .search_lang .search a {
        width: 28px;
        height: 28px;
    }

    header .menu .menu_in .search_lang .search a .search_icon {
        width: 32px;
        height: 32px;
    }


    header .menu .menu_in .search_lang .search a .search_icon {
        stroke: #000;
    }

    header .menu .menu_in .language {
        padding: 0.7vw 1vw;
        width: 6vw;
        background-color: #FFF0F5;
    }


    header .menu .menu_in .language select {
        font-size: 0.8rem;
        color: #212121;
        outline: none;
    }

    /* 닫기 버튼 pc에서는 안 보이고 , tablet과 모바일에서는 보임 */
    header .menu .close {
        display: none;
    }

    header .menu .close .close_icon {
        display: none;
    }

    /* pc 버전 내비게션 */
    header .menu nav {
        margin-top: 0;
        padding: 0;
        width: 70%;

        /* flex기능을 사용하면 자식 객체의 순서를 변경할 수 있음(부모에게 flex ) */
        order: 1;

    }

    /* pc버전 내비게이션 주메뉴 */
    header .menu nav>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .menu nav>ul>li {
        position: relative;
    }

    header .menu nav>ul>li>a {
        font-size: 18px;
        padding: 1vw;
        padding-bottom: 1.5vw;
        justify-content: center;
    }

    header .menu nav>ul>li>a .plus_icon {
        display: none;
    }

    /* pc버전 내비게이션 서브메뉴 */
    header .menu nav .sub {
        display: none;
        /* 주메뉴 오버시 크기다름*/
        position: absolute;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
    }

    header .menu nav .sub li a {
        padding: 0.7vw 1vw;
        white-space: nowrap;
        font-size: 16px;
        /* 글자 가운데 정렬(모바일 버전에서 flex 넣어서 text-align 안됨) */
        justify-content: center;
    }

    /* pc버전 주메뉴에 마우스 올렸을 때 */
    header .menu nav>ul>li:hover>a {
        color: #FF6699;

    }

    /*  서브메뉴 선택하면 주메뉴 색X
    header .menu nav >ul>li>a:hover {
        color: #FF6699;
    } */

    /* pc버전 서브메뉴에 마우스 올렸을 때 */
    header .menu nav .sub li a:hover {
        color: #FF6699;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    /* pc 버전 내비게이션 서브메뉴 변경 */
    header .right_area .sub_bg {
        width: 100%;
        height: 350px;
        /* 형제객체 .navi의 nav의 서브메뉴와 겹침 */
        position: absolute;
        /* mav 보다는 아래, section 보다는 위에 배치*/
        z-index: 51;
        background-color: #fff;
        top: 120px;
        left: 0;
        border-top: 1px solid #ddd;
        display: none;
    }

    /* pc 버전의 첫번째 섹션의 높이 조절 */
    section.s1 {
        height: 100vh;
    }

    /* pc본문*/
    section .movie {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    section .movie iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 114%;
    }


    section .main_icon {
        width: 36%;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, 90%);
    }

    section .main_icon ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    section .main_icon ul li {
        width: 20%;
        margin-top: 0;
    }

    section .main_icon ul li a i {
        border-radius: 50%;
        border: 2px solid #fff;
        display: block;
        padding: 2vw;
    }

    section .main_icon ul li a p {
        color: #333;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 800;
    }


    .s2 .banner1 ul {
        flex-flow: row wrap;
        /* padding: 0 8vw; */
        margin: 0 5vw;
    }

    .s2 .banner1 ul li {
        width: 33.3%;
        height: 800px;
        /* padding: 5vw 0; */
    }

    .s5 .banner4 ul li .txt {
        background-color: transparent;
    }

    /* 마지막 아이콘의 배경색 지정*/
    section .main_icon ul li:last-child a i {
        background-color: rgba(252, 174, 174, 0.7);
    }

    section .main_icon ul li a:hover i {
        background-color: #fff;
    }





}